{% extends "base.html" %}
{% load static %}

{% block title %}Diários da República{% endblock %}

{% block header %}
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República - navegue para uma determinada data e consulte os documentos publicados nesse dia">
  <meta property="og:title" content="Diários da República - Procura de Documentos">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República - navegue para uma determinada data e consulte os documentos publicados nesse dia">
{% endblock %}

{% block body_content %}
<div class="content-text">
<h1>Resultados por data</h1>
  <div class="center_text">
  <form method="post" action="{% url 'browse' %}">{% csrf_token %}
    <table>
      {{ form }}
      <tr>
        <td colspan=2>
          <div class="center_text">
            <button style="width:12em" type="submit" value="Submit">Navegar para a data</button>
          </div>
        </td>
      </tr>
    </table>
  </form>
  </div>
</div>
{% endblock %}

