{% extends "base.html" %}
{% load static %}

{% block title %}Diários da República - Navegar por dia{% endblock %}

{% block header %}
  <meta name="keywords" content="documento, navegar por data">
  <meta name="description" content="Consultar os diplomas publicados numa dada data.">
  <link rel="stylesheet" href="{% static 'css/jquery-ui-1.9.2.css' %}" />
  <link rel="stylesheet" href="/static/css/jquery.multiselect.css" />
  <script src="{% static 'jquery/jquery-ui-1.10.2.min.js' %}"></script>
  <script src="/static/js/jquery.multiselect.min.js"></script>
  <script src="{% url 'view_js' %}?date={{ date|date:"Y-m-d" }}"></script>
  <script src="{% static 'js/browse_filter.js' %}"></script>
  <script src="{% static 'js/keyboard_nav.js' %}"></script>
  <meta property="og:title" content="Diários da República - Procura de Documentos">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República - navegue para uma determinada data e consulte os documentos publicados nesse dia">
{% endblock %}

{% block body_content %}
<div class="content-text">
  <h1>Resultados para o dia {{ date|date:"Y-m-d" }}</h1>

  <div id="filter_control" class="noprint">
    <form action="" method="GET" id="form_filter" name="FilterForm">
      <div class="filter_left">
        <p><label for="series">Escolha a&nbsp;série:</label>
        <span>{{ filter_form.series }}</span>

        <p><label for="doc_type">Tipo documento:</label>
        <span>{{ filter_form.doc_type }}</span>

        <p><label for="query">Procurar por:</label>
        <span>{{ filter_form.query }}</span>
      </div>
      <div class="filter_right">
        <p><label for="date">Outra data:</label>
        <span>{{ filter_form.date }}</span>
      </div>
      <div class="clear_both"></div>
      <div class="filter_bottom">
        <a href='.'>Limpar filtro</a>
        <button type="submit">Filtrar</button>
      </div>
    </form>
  </div>

  <div class="result_bar noprint">
    <div class="one_third" style="text-align:left;">
      {% if prev_date %}
      <a id="prev_date" title="Shift-Seta Esquerda" href="{% url 'browse_day' year=prev_date.year month=prev_date.month day=prev_date.day %}{{ query_date }}">Data anterior {{ prev_date|date:'Y-m-d' }}</a>
      {% endif %}
    </div>
    <div class="one_third" style="text-align:center;">
      <a href="{% url 'browse' %}">Outras datas</a>
    </div>
    <div class="one_third" style="text-align:right;">
      {% if next_date %}
      <a id="next_date" title="Shift-Seta Direita" href="{% url 'browse_day' year=next_date.year month=next_date.month day=next_date.day %}{{ query_date }}">Data seguinte {{ next_date|date:'Y-m-d' }}</a>
      {% endif %}
    </div>
    <div style="clear:both;"></div>
  </div>

  <div class="results">
    {% if page.object_list %}
      {% include "results.html" %}
    {% else %}
      <p>Não temos documentos na nossa base de dados para este dia ou para o filtro escolhido.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
