{% extends "settings.html" %}
{% load static %}

{% block title %}Listar Etiquetas{% endblock %}

{% block header %}
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico - Gestão de Etiquetas">
  <meta property="og:title" content="Diários da República - Gestão de Etiquetas">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Gestão de Etiquetas">
{% endblock %}

{% block content_column %}
<div class="content-text"><div id="search_results">
<h1>Etiquetas de {{ user.username }}</h1>

<p style="max-width:30em;">Pode acrescentar etiquetas aos seus marcadores. Isto é útil para organizar
os marcadores e ajudá-lo a encontrar o que procura. Pode filtrar os marcadores
pelas etiquetas que lhes atribuíu.

<ul>
    {% for tag in tag_list %}
      <li><span class="tag" style="{{ tag.style }}">{{ tag.name }}</span> - <a href="{% url 'edit_tag' tag.id %}?next={{ request.get_full_path|urlencode }}">Editar</a> <a href="{% url 'delete_tag' tag.id %}?next={{ request.get_full_path|urlencode }}">Apagar</a></li>
    {% empty %}
    <li>Não tem etiquetas definidas.
    {% endfor %}
</ul>
</div></div>
{% endblock %}

