<!doctype html>
{% load static %}
<html>
<head>
    <title>Busca Tretas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/print.css' %}" media="print">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<!-- Start Header for Printing -->
<div class="only_print">
 <div id="print_header">
  <p>Busca Tretas.org</p>
  <hr>
 </div>
</div>
<!-- End Header for Printing -->

<!-- Body Content -->
<div id="content">
<div class="center_text">
  <a href="/"><img src="{% static 'img/logo.svg' %}" alt="Tretas dre logotipo" width="305px" height="127px"></a>
    <h1>Não pode aceder a este recurso.</h1>
    <h1>Erro 403</h1>
</div>
</div>
<!-- Start Footer for Printing -->
<div class="only_print">
 <div id="print_footer">
  <hr>
  <p>Busca Tretas.org</p>
 </div>
</div>
<!-- End Footer for Printing -->
</body>
</html>
