{% extends "base.html" %}
{% load static %}

{% block title %}Diários da República - Acerca{% endblock %}

{% block header %}
  <meta name="keywords" content="ajuda,dre,diário da república,leis">
  <meta name="description" content="Acerca do sistema de procura e armazenamento de Diários da República.">
  <meta property="og:title" content="Diários da República - Acerca">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Acerca do sistema de procura e armazenamento de Diários da República.">
{% endblock %}

{% block body_content %}
<div class="content-text">
  <a name="acerca"><h1>Acerca do DRE Tretas</h1>

    <h2><a class="anchor" name="intro" href="#intro">&#128279;</a> Introdução</h2>

    <p>Este site disponibiliza uma cópia tão fiel quanto possível do <a href="http://dre.pt/">Diário da República Electrónico</a>, em caso de dúvida deverá sempre recorrer à fonte oficial.

    <p>Em 2012, em resposta directa à baixíssima qualidade que o site oficial apresentava, foi concebido e implementado este site. Na altura os objectivos principais foram:</p>

    <ul>
      <li>Permitir aos motores de busca indexar os documentos do DRE;</li>
      <li>Proporcionar um motor de busca moderno, rápido e intuitivo ao utilizador final;</li>
      <li>Disponibilizar os documentos em HTML (fáceis de visualizar em qualquer plataforma);</li>
      <li>Permitir criar ligações do exterior para os documentos.</li>
    </ul>

    <p>Pensamos que todos estes objectivos foram amplamente alcançados.</p>

    <p>Depois de <a href="https://www.publico.pt/2013/12/09/portugal/noticia/novo-site-do-diario-da-republica-nao-esta-a-funcionar-1615601" target="_blank">alguns percalços</a> o site oficial foi actualizado em Setembro de 2014. O site apresenta uma interface moderna mas, infelizmente, nessa altura ainda não permitia o acesso livre aos documentos (o acesso era pago). Escrevi em Abril de 2016 um <a href="https://aventar.eu/2016/04/19/como-a-casa-da-moeda-dificulta-o-acesso-ao-dre/" target="_blank">post sobre a situação do DRE</a>.</p>

    <p>Finalmente em Novembro de 2016 <a href="https://www.publico.pt/2016/11/17/politica/noticia/diario-da-republica-aberto-online-1751401" target="_blank">o DRE foi finalmente aberto</a>. Com a abertura do DRE desapareceram muitos dos motivos para a existência deste site. No entanto, devido às seguintes razões decidiu-se manter o site no ar:</p>

    <ul>
      <li>O custo da manutenção do site é muito baixo, tanto em tempo como em dinheiro;</li>
      <li>O site, de forma consistente, tem cerca de 10000 visitas diárias (excluindo a pletora de <i>bots</i> que o assaltam constantemente);</li>
      <li>Os motores de busca continuam a ter alguma dificuldade em indexar o site oficial, assim começámos a ligar todos os documentos à respectiva fonte oficial. Desta forma os motores de busca ficam com conhecimento das páginas oficiais e indexam-nas;</li>
      <li>O site oficial continua a não disponibilizar o corpo de documentos para <i>download</i> fácil. Nós <a href="#base_de_dados">disponibilizamos</a> a base de dados para quem a desejar usar, por qualquer motivo;</li>
      <li>Quando colocámos a hipótese de desactivar o dre.tretas.org vários utilizadores pediram para não o fazermos.</li>
    </ul>

    <p>Todos os cidadãos são convidados a utilizar este site. Qualquer
       comentário, crítica ou sugestão pode ser enviado para:
       <a href="mailto:webmaster@tretas.org">webmaster@tretas.org</a>.</p>

    <p>Helder Guerreiro</p>
    <p>José Lopes</p>

  <h2><a class="anchor" name="esquecimento" href="#esquecimento">&#128279;</a> Direito ao esquecimento</h2>

  <p>Nós, no dre.tretas.org, não temos qualquer influência sobre
  a INCM (Imprensa Nacional Casa da Moeda), que compõe e publica
  o Diário da República. Se julga que a presença do seu nome
  ou de quaisquer outros dados pessoais em documentos publicados
  no Diário da República atenta ao seu direito à privacidade,
  terá de levar o problema à INCM.</p>

  <p>Compreendemos, no entanto, que queira remover
  conteúdos sensíveis dos motores de busca ao abrigo do <a
  href="https://pt.wikipedia.org/wiki/Direito_ao_esquecimento"
  target="_blank">Direito ao Esquecimento</a>.  Pode tentar
  fazer com que os motores de busca deixem de listar o seu nome
  com base numa decisão do Tribunal de Justiça da União Europeia
  (<a href="http://curia.europa.eu/jcms/upload/docs/application/pdf/2014-05/cp140070pt.pdf" target="_blank">C-131/12</a>, PDF, 13 de maio de 2014). Para o efeito tem várias alternativas:</p>
  <ul>
    <li>O Google tem um formulário onde pode fazer esse pedido, pode aceder a
  esse formulário <a href="https://support.google.com/legal/contact/lr_eudpa?product=websearch&hl=pt" target="_blank">nesta página</a>;</li>
    <li>O Bing, <a href="https://www.bing.com/webmaster/tools/eu-privacy-request" target="_blank">tem este formulário</a></li>
  </ul>

  <p>Finalmente, se assim o entender, pode enviar-nos um mail para <a
  href="mailto:webmaster@tretas.org">webmaster@tretas.org</a>. Nesse
  mail deve de indicar o URL das páginas que pretende retirar
  dos motores de busca, deve também de indicar o motivo para a
  retirada das páginas. Se considerarmos que o motivo tem mérito,
  acrescentaremos um código às páginas em questão que fará com que os
  motores de busca que respeitem esse código não indexem a página.
  Evidentemente não nos podemos responsabilizar
  pelas acções dos motores de busca nem garantir que estes irão obedecer às
  nossas directivas.</p>

  <h2><a class="anchor" name="nota_tecnica" href="#nota_tecnica">&#128279;</a> Nota técnica</h2>

  <p>Este sistema corre sobre Linux, utilizam-se os seguintes sistemas principais:

  <ul>
    <li>Base de dados <a href="http://www.postgresql.org/">PostgreSQL</a>;
    <li>Índice feito utilizando a biblioteca <a href="http://xapian.org/">Xapian</a>;
    <li>Interface web feita com <a href="https://www.djangoproject.com/">Django</a>;
    <li>O brasão de armas (esfera armilar e o escudo português) foi retirado <a href="http://pt.wikipedia.org/wiki/Bandeira_de_Portugal">desta</a> página. É uma obra de Vítor Luís Rodrigues e António Martins-Tuválkin contratada pela Presidência da República em Junho de 2004 com o fim expresso de ser posta no domínio público;
    <li>Os icons utilizados no site foram retirados da colecção de icons do <a href="http://www.kde.org/">Projecto KDE</a>, estão sob licença GPL v2.
  </ul>

  <p>Corre num servidor HP ML310 G8.

  <h2><a class="anchor" name="codigo" href="#codigo">&#128279;</a> Desenvolvimento deste sistema</h2>

  <p>Todo o site foi feito usando software livre.

  <p> A escolha óbvia para a licença do próprio sistema foi a GPL v3. Pode
  obter o código fonte do site, colaborar no desenvolvimento, abrir <em>bug
  reports</em>, etc, na <a href="https://gitlab.com/hgg/dre/">página
  do projecto</a> no GitLab.

  <h2><a class="anchor" name="base_de_dados" href="#base_de_dados">&#128279;</a> Base de dados</h2>

  <p>Pode fazer o download de toda a legislação que recolhemos do 'dre.pt' na
  ligação seguinte:


  <ul>
    <li><a href="https://uploads.tretas.org/?P=*DRE_dump.*.bz2" target="_blank">Download corpo de legislação</a>
    <ul>
      <li>Base de dados em formato <a href="http://pt.wikipedia.org/wiki/JSON">JSON</a> (cerca de 76MB). Neste formato apenas temos os metadados;</li>
      <li>Dump da base de dados com a ferramenta 'pg_dump' (cerca de 1.0GB), inclui os metadados e o texto dos documentos.</li>
    </ul>
  </ul>

  <p>Note, por favor, o seguinte:

  <ol>
    <li>Os ficheiros foram comprimidos usando a ferramenta
    <a href="http://www.bzip.org/">bzip2</a>. Depois de descomprimidos expandem
    para ficheiros relativamente pesados, com cerca de 16 vezes o tamanho original;
    <li>Temos uma explicação sobre o formato destes ficheiros <a href="http://blog.tretas.org/2014/02/23/obter-a-legislacao-do-dre-tretas-org/" target="_blank">neste post</a>;
    <li>Estes ficheiros são gerados todos os Domingos às 10:00.
  </ol>

  <h2><a class="anchor" name="lista_funcionalidades" href="#lista_funcionalidades">&#128279;</a> Lista de funcionalidades</h2>

  <ul>
    <li>Procura em texto livre usando a biblioteca <a href="http://xapian.org">Xapian</a>:
    <ul>
      <li>Procura probabilística;
      <li>Procura booleana estruturada;
      <li>Procura usando prefixos;
    </ul>
    <li>Possibilidade de ordenar os resultados de busca por data;
    <li>Possibilidade de transformar uma busca num feed RSS, neste caso os resultados são sempre apresentados ordenados por data descendente, desta forma o feed apresenta sempre os últimos diplomas sobre o assunto da busca. Evidentemente não convém usar buscas com modificadores de data pois, se o fizer, o feed RSS será estático para essa data;
    <li>Navegação por datas:
    <ul>
      <li>Filtragem por uma série de critérios:
      <ul>
        <li>Série;
        <li>Tipo de documento;
        <li>Palavra chave;
      </ul>
    </ul>
    <li>Reconhecimento de citações entre documentos (com tooltip e hiperligação);
    <ul>
      <li>Lista de referencias feitas num dado documento;
      <li>Lista de documentos que referem um dado documento;
    </ul>
    <li>Procura de documentos relacionados;
    <li>Top dos documentos mais consultados no último dia, na última semana ou no último mês;
    <li>Suporte de utilizadores com áreas próprias:
    <ul>
      <li>Anotação de documentos (suporta markdown);
      <li>Manutenção de uma lista de marcadores:
      <ul>
        <li>Filtragem de marcadores (por datas, palavra chave e etiquetas);
        <li>Sistema de etiquetagem;
        <li>Sistema de anotação;
      </ul>
      <li>Possibilidade de ter os marcadores e anotações públicos ou privados;
      <li>Ferramentas para gestão do perfil de utilizador:
      <ul>
        <li>Dados pessoais;
        <li>Palavra chave;
        <li>Gestão de etiquetas;
        <li>Definições várias (controlo geral de privacidade, ajustes da
        interface).
      </ul>
    </ul>
    <li><a href="{% url 'last' %}">Lista com os trezentos documentos mais recentes adicionados à base de dados</a> - para benefício dos motores de busca.
  </ul>

  <h2><a class="anchor" name="versoes" href="#versoes">&#128279;</a> Versões deste documento</h2>

  <p>Tal como referido mais acima todo o código fonte deste sistema é aberto e público. Pode consultar as <a href="https://gitlab.com/hgg/dre/-/commits/master/dre_django/templates/about.html" target="_blank">versões anteriores desta página no GitLab</a>.</p>

  <div style="display:none;">
    <p><a href="{% url 'browse_day' year=1974 month=4 day=25 %}">Este link</a>
    serve apenas para proporcionar aos motores de busca um caminho
    para todo o conteúdo do site.</p>
  </div>
</div>
{% endblock %}
