{% extends "settings.html" %}
{% load static %}

{% block title %}Configurações pessoais{% endblock %}

{% block content_column %}
    <h1>Configurações pessoais</h1>
    <form id="settings" method="post" action="{% url 'settings_form' %}">{% csrf_token %}
        {{ form.as_p  }}

        <div class="center_text">
          <button style="width:12em" type="submit" value="Submit">Salvar configurações pessoais</button>
          {% if saved %}<p>Dados guardados.</p>{% endif %}
        </div>
    </form>
{% endblock %}
