{% extends "base.html" %}
{% load static %}

{% block title %}Sair{% endblock %}

{% block header %}
  <meta name="robots" content="noindex, nofollow">
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico - página de logout">
  <meta property="og:title" content="Diários da República - Logout">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República">
{% endblock %}

{% block body_content %}

<h1>Saiu do dre.tretas.org!</h1>

{% endblock %}
