{% extends "settings.html" %}
{% load static %}

{% block title %}Dados pessoais{% endblock %}

{% block header %}
  <meta name="robots" content="noindex, nofollow">
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico - Dados pessoais">
  <meta property="og:title" content="Diários da República - Dados pessoais">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República - Dados pessoais">
{% endblock %}

{% block content_column %}

    <h1>Dados Pessoais</h1>

    <form id="settings" method="post" action="{% url 'personal_data' %}{% if next %}?next={{ next }}{% endif %}">{% csrf_token %}
        {{ form.as_p }}
        <div class="center_text">
          <button style="width:12em" type="submit" value="Submit">Salvar dados pessoais</button>
          {% if saved %}<p>Dados guardados.</p>{% endif %}
        </div>
    </form>
{% endblock %}
