{% extends "base.html" %}
{% load static %}

{% block title %}Registar{% endblock %}

{% block header %}
  <meta name="robots" content="noindex, nofollow">
  <meta name="keywords" content="procura,diplomas,documentos,diário da república">
  <meta name="description" content="Procura de diplomas no Diário da República Electrónico - Registo de nova conta">
  <meta property="og:title" content="Diários da República - Registo de nova conta">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITE_URL }}">
  <meta property="og:image" content="{{ SITE_URL }}{% static 'img/esfera_armilar_200.png' %}">
  <meta property="og:site_name" content="Diários da República - Versão do cidadão">
  <meta property="fb:admins" content="webmaster@tretas.org">
  <meta property="og:description" content="Procura de diplomas no Diário da República - Registo de nova conta">
{% endblock %}

{% block body_content %}
<div class="center_text">
<h1>Registar</h1>

<form method="post" action="{% url 'registration' %}{% if next %}?next={{ next }}{% endif %}">{% csrf_token %}
<table>
  <tr>
    <th>{{ form.username.label }}</th>
    <td>
      {{ form.username }}
      {{ form.username.errors }}
    </td>
  </tr>
  <tr>
    <th>{{ form.password_1.label }}</th>
    <td>{{ form.password_1 }}</td>
  </tr>
  <tr>
    <th>{{ form.password_2.label }}</th>
    <td>
      {{ form.password_2 }}
      {{ form.password_2.errors }}
    </td>
  </tr>
  <tr>
    <th>{{ form.email.label }} <cite>({{ form.email.help_text }})</cite></th>
    <td>
      {{ form.email }}
      {{ form.email.errors }}
    </td>
  </tr>
  <tr>
    <td colspan=2>
      {{ form.captcha }}
      {{ form.captcha.errors }}
    </td>
  </tr>
  <tr>
    <th colspan=2>
      <button style="width:8em" type="submit" value="Submit">Registar</button>
      <input type="hidden" name="next" value="{{ next }}">
    </th>
  </tr>
</table>
</form>
</div>
{% endblock %}
